html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header {
  width: 30%;
  position: absolute;
  margin-left: 65%;
  padding-top: 2%;
}
.header .links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header .links a {
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.5rem;
  font-family: 'Kaushan Script', cursive;
}
.links a:hover {
  color: black;
}
.footer {
  font-size: 2rem;
  width: 22%;
  display: flex;
  margin-top: 5%;
  margin-left: 70%;
  margin-bottom: 2%;
  justify-content: space-between;
  align-items: right;
}
.footer a {
  text-decoration: none;
  font-size: 2rem;
  color: #3b7a57;
}
.mainSection {
  background-color: #3b7a57;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainSection .about {
  margin-top: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8%;
}
.mainSection .about h2 {
  font-size: 3rem;
  font-family: 'Kaushan Script', cursive;
  padding-bottom: 15%;
  text-transform: uppercase;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
}
.mainSection .about p {
  font-size: 2rem;
  line-height: 4rem;
  width: 80%;
  text-align: center;
  color: white;
  letter-spacing: 0.2rem;
}
.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: 'Kaushan Script', cursive;
  padding-bottom: 3%;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
}
.team .memberInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.team .memberInfo .member {
  width: 30%;
  text-align: center;
  padding-bottom: 2%;
  padding-left: 2%;
}
.team .memberInfo .member .memberimg {
  border-radius: 10%;
  width: 100%;
  padding-bottom: 3%;
}
.team .memberInfo p {
  font-size: 2rem;
  color: white;
}
.footer {
  margin-top: 1%;
  margin-bottom: 1%;
}
