html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header {
  width: 30%;
  position: absolute;
  margin-left: 65%;
}
.header .links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header .links a {
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.5rem;
  font-family: 'Kaushan Script', cursive;
}
.links a:hover {
  color: black;
}
.mainSection {
  height: 120vh;
  background-color: #3b7a57;
}
.mainSection .middleSection {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
}
.mainSection .middleSection .mainH1 {
  display: block;
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 5rem;
  letter-spacing: 1rem;
  padding-bottom: 2%;
}
.mainSection .middleSection .subH1 {
  display: block;
  font-family: 'Kaushan Script', cursive;
  color: white;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  padding-left: 10%;
  padding-bottom: 5%;
}
.mainSection .middleSection input {
  width: 40%;
  padding-bottom: 0.75%;
  padding-top: 0.75%;
  border-radius: 10px;
  font-size: 2rem;
  outline: none;
}
.mainSection .middleSection .btn {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-radius: 10px;
  letter-spacing: 0.2rem;
  margin-bottom: 3%;
  outline: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  width: 10%;
  border: 2px solid black;
  color: #3b7a57;
}
.mainSection .middleSection img {
  width: 40%;
  height: 80vh;
}
.secondSection {
  margin-top: 15%;
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
.secondSection .secondSectionColumn {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
.secondSection .secondSectionColumn img {
  width: 20%;
  margin-bottom: 4%;
}
.secondSection .secondSectionColumn #img1 {
  width: 20%;
}
.secondSection .secondSectionColumn h2 {
  font-size: 3rem;
  text-transform: capitalize;
  padding-bottom: 4%;
}
.secondSection .secondSectionColumn p {
  font-size: 2rem;
  text-align: center;
  color: gray;
}
.singUp {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 8%;
}
.singUp p {
  font-size: 3rem;
  text-transform: capitalize;
  padding-bottom: 2%;
  font-family: 'Kaushan Script', cursive;
  color: darkgray;
  letter-spacing: 0.5rem;
}
.singUp .btn {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-radius: 10px;
  letter-spacing: 0.2rem;
  margin-bottom: 3%;
  outline: none;
  text-transform: uppercase;
  width: 15%;
  background-color: #3b7a57;
  color: white;
  font-size: 3rem;
}
.footer {
  font-size: 2rem;
  width: 22%;
  display: flex;
  margin-top: 5%;
  margin-left: 70%;
  margin-bottom: 2%;
  justify-content: space-between;
  align-items: right;
}
.footer a {
  text-decoration: none;
  font-size: 2rem;
  color: #3b7a57;
}
