html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header {
  width: 30%;
  position: absolute;
  margin-left: 65%;
  padding-top: 2%;
}
@media ( max-width: 900px ) {
  .header {
    width: 70%;
    margin-left: 15%;
    padding-top: 2%;
  }
}
@media ( max-width: 700px ) {
  .header {
    width: 100%;
    margin-left: auto;
    padding-top: 4%;
  }
}
.header .links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media ( max-width: 700px ) {
  .header .links {
    width: 100%;
    justify-content: space-around;
  }
}
.header .links a {
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.5rem;
  font-family: 'Kaushan Script', cursive;
}
@media ( max-width: 700px ) {
  .header .links a {
    font-size: 2rem;
  }
}
.links a:hover {
  color: black;
}
.mainSection {
  height: 120vh;
  background-color: #3b7a57;
}
@media ( max-width: 900px ) {
  .mainSection {
    height: 100vh;
  }
}
@media ( max-width: 700px ) {
  .mainSection {
    height: 80vh;
  }
}
@media ( max-width: 500px ) {
  .mainSection {
    height: 60vh;
  }
}
.mainSection .middleSection {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
}
@media ( max-width: 900px ) {
  .mainSection .middleSection {
    padding-top: 10%;
    height: 100vh;
  }
}
@media ( max-width: 700px ) {
  .mainSection .middleSection {
    height: 80vh;
  }
}
@media ( max-width: 500px ) {
  .mainSection .middleSection {
    height: 60vh;
  }
}
.mainSection .middleSection .mainH1 {
  display: block;
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 5rem;
  letter-spacing: 1rem;
  padding-bottom: 2%;
}
@media ( max-width: 900px ) {
  .mainSection .middleSection .mainH1 {
    padding-top: 2%;
    margin-left: 10%;
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
}
@media ( max-width: 700px ) {
  .mainSection .middleSection .mainH1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    padding-top: 4%;
    margin-left: 5%;
  }
}
.mainSection .middleSection .subH1 {
  display: block;
  font-family: 'Kaushan Script', cursive;
  color: white;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  padding-left: 5%;
  padding-bottom: 5%;
}
@media ( max-width: 900px ) {
  .mainSection .middleSection .subH1 {
    font-size: 1.5rem;
  }
}
@media ( max-width: 700px ) {
  .mainSection .middleSection .subH1 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding-left: 0%;
  }
}
.mainSection .middleSection input {
  width: 40%;
  padding-bottom: 0.75%;
  padding-top: 0.75%;
  border-radius: 10px;
  font-size: 2rem;
  outline: none;
}
@media ( max-width: 900px ) {
  .mainSection .middleSection input {
    font-size: 1.5rem;
  }
}
@media ( max-width: 700px ) {
  .mainSection .middleSection input {
    width: 60%;
  }
}
.mainSection .middleSection .btn {
  padding: 0.5%;
  border-radius: 10px;
  letter-spacing: 0.2rem;
  margin-bottom: 3%;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  width: 15%;
  border: 2px solid black;
  color: #3b7a57;
  height: 4%;
  padding-bottom: 2.5%;
}
@media ( max-width: 900px ) {
  .mainSection .middleSection .btn {
    font-size: 1.5rem;
  }
}
@media ( max-width: 700px ) {
  .mainSection .middleSection .btn {
    width: 25%;
    font-size: 1.5rem;
  }
}
@media ( max-width: 500px ) {
  .mainSection .middleSection .btn {
    padding: 2.5%;
    padding-bottom: 5%;
    font-size: 1.5rem;
  }
}
.mainSection .middleSection img {
  width: 40%;
  height: auto;
  /* even more control with max-width */
  max-width: 720px;
}
@media ( max-width: 900px ) {
  .mainSection .middleSection img {
    width: 50%;
  }
}
@media ( max-width: 700px ) {
  .mainSection .middleSection img {
    width: 45%;
  }
}
.secondSection {
  margin-top: 28%;
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
@media ( max-width: 1200px ) {
  .secondSection {
    margin-top: 25%;
  }
}
@media ( max-width: 900px ) {
  .secondSection {
    margin-top: 30%;
  }
}
@media ( max-width: 700px ) {
  .secondSection {
    margin-top: 30%;
    margin-bottom: 2%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media ( max-width: 500px ) {
  .secondSection {
    margin-top: 35%;
  }
}
.secondSection .secondSectionColumn {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
@media ( max-width: 700px ) {
  .secondSection .secondSectionColumn {
    width: 80%;
    height: 30vh;
    padding-bottom: 5%;
  }
}
.secondSection .secondSectionColumn img {
  width: 20%;
  margin-bottom: 4%;
}
@media ( max-width: 700px ) {
  .secondSection .secondSectionColumn img {
    width: 13%;
    margin-bottom: 2%;
  }
}
.secondSection .secondSectionColumn h2 {
  font-size: 3rem;
  text-transform: capitalize;
  padding-bottom: 4%;
}
@media ( max-width: 700px ) {
  .secondSection .secondSectionColumn h2 {
    font-size: 2rem;
  }
}
.secondSection .secondSectionColumn p {
  font-size: 2rem;
  text-align: center;
  color: gray;
}
@media ( max-width: 700px ) {
  .secondSection .secondSectionColumn p {
    font-size: 1.5rem;
  }
}
.singUp {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 8%;
}
@media ( max-width: 700px ) {
  .singUp {
    height: 12vh;
  }
}
.singUp p {
  font-size: 3rem;
  text-transform: capitalize;
  padding-bottom: 2%;
  font-family: 'Kaushan Script', cursive;
  color: darkgray;
  letter-spacing: 0.5rem;
}
@media ( max-width: 900px ) {
  .singUp p {
    font-size: 2rem;
  }
}
@media ( max-width: 700px ) {
  .singUp p {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
}
.singUp .btn {
  padding: 0.5%;
  border-radius: 10px;
  letter-spacing: 0.2rem;
  margin-bottom: 3%;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  width: 20%;
  background-color: #3b7a57;
  color: white;
  font-size: 3rem;
}
@media ( max-width: 900px ) {
  .singUp .btn {
    font-size: 2rem;
  }
}
@media ( max-width: 700px ) {
  .singUp .btn {
    width: 30%;
    font-size: 1.5rem;
  }
}
.footer {
  font-size: 2rem;
  width: 22%;
  display: flex;
  margin-top: 5%;
  margin-left: 70%;
  margin-bottom: 2%;
  justify-content: space-between;
  align-items: right;
}
@media ( max-width: 1200px ) {
  .footer {
    width: 35%;
    margin-left: 60%;
  }
}
@media ( max-width: 900px ) {
  .footer {
    width: 30%;
    margin-left: 60%;
  }
}
@media ( max-width: 700px ) {
  .footer {
    width: 30%;
    margin-left: 60%;
    margin-top: 2%;
  }
}
@media ( max-width: 500px ) {
  .footer {
    width: 40%;
    margin-left: 50%;
    margin-top: 2%;
  }
}
.footer a {
  text-decoration: none;
  font-size: 2rem;
  color: #3b7a57;
}
@media ( max-width: 900px ) {
  .footer a {
    font-size: 1.5rem;
  }
}
@media ( max-width: 700px ) {
  .footer a {
    font-size: 1.2rem;
  }
}
