
     .headerSection{
        
        height:70vh;
        width:100%;
       // background-color: @mainGreen;
       background-image: url(/images/wave\ .png);
     

    .about{
       padding-top: 10%;
        width:100%;
        //height:55vh;
        .displayColumn();
         padding-bottom: 8%;
        
         @media @phone{
             width:100%;
            margin-top: 20%;
         }

        h2{
            
            font-size: 3rem;
            font-family: 'Kaushan Script', cursive;
            padding-bottom: 15%;
            text-transform: uppercase;
            word-spacing: 1rem;
            letter-spacing: .5rem;

            @media @phone{
              
                font-size: 2rem;
                letter-spacing: .3rem;
               
            }
    }//end of h2
    
    p{
      
        font-size: 2rem;
        line-height: 4rem;
        width:80%;
        text-align: center;
        color:white;
        letter-spacing: .2rem;

        @media @phone{
            width:90%;
            font-size: 1.5rem;
            letter-spacing: .1rem;
           
        }
    }//end of P

    }//end of about
}

.team{

    width:100%;
    ///height: 200vh;
    .displayColumn();

    h2{
        text-transform: uppercase;
        font-size: 3rem;
        font-family: 'Kaushan Script', cursive;
        padding-bottom: 3%;
        word-spacing: 1rem;
        letter-spacing: .5rem;
        @media @phone{
              
            font-size: 2rem;
            letter-spacing: .3rem;
           
        }
}//end of h2

.memberInfo{
    //border: 2px solid red;
    .displayRow();
    flex-wrap: wrap;
    justify-content: center;

  
    @media @phone{
              
        .displayColumn();
       
    }
    .member{
       // border: 2px solid red;
        width: 30%;
        text-align: center;
        padding-bottom: 2%;
        padding-left:2%;

        @media @phone{
              
            width: 70%;;
           
        }
        .memberimg{
            //border: 2px solid blue;;
            border-radius: 10%;
            width:100%;
            padding-bottom: 3%;
        }
    }
    p{
      //  border: 2px solid green;;
        font-size: 2rem;
        color:white;
        @media @phone{
              
            font-size: 1.5rem;
            padding-bottom: 10%;
           
        }
    }
}// end of memberinfo

}

.footer{
  margin-top:1%;
  margin-bottom:1%;


  @media @phone{
              
    width: 40%;
   
}


}