    .mainSection{
    background-color: @mainGreen;
    .displayColumn();

    .about{
        margin-top: 10%;
        width:80%;
        .displayColumn();
         padding-bottom: 8%;
        

        h2{
            
            font-size: 3rem;
            font-family: 'Kaushan Script', cursive;
            padding-bottom: 15%;
            text-transform: uppercase;
            word-spacing: 1rem;
            letter-spacing: .5rem;
            
    }//end of h2
    
    p{
      
        font-size: 2rem;
        line-height: 4rem;
        width:80%;
        text-align: center;
        color:white;
        letter-spacing: .2rem;
    }//end of P

    }//end of about
}

.team{

    width:100%;
    ///height: 200vh;
    .displayColumn();

    h2{
        text-transform: uppercase;
        font-size: 3rem;
        font-family: 'Kaushan Script', cursive;
        padding-bottom: 3%;
        word-spacing: 1rem;
        letter-spacing: .5rem;
}//end of h2

.memberInfo{
    //border: 2px solid red;
    .displayRow();
    flex-wrap: wrap;
    justify-content: center;

  
    .member{
       // border: 2px solid red;
        width: 30%;
        text-align: center;
        padding-bottom: 2%;
        padding-left:2%;
        .memberimg{
            //border: 2px solid blue;;
            border-radius: 10%;;
            width:100%;
            padding-bottom: 3%;;
        }
    }
    p{
      //  border: 2px solid green;;
        font-size: 2rem;
        color:white;
    }
}// end of memberinfo

}

.footer{
  margin-top:1%;
  margin-bottom:1%;
}