.footer{
 //   border: 2px solid red;
    font-size: 2rem;
    width:22%;
    .displayRow();
    margin-top:5%;
    margin-left:70%;
    margin-bottom:2%;
    justify-content:space-between;
    align-items: right;
    a{
    text-decoration: none;
    font-size: 2rem;
    color:@mainGreen;
    }
}