.footer{
//   border: 2px solid red; 
    font-size: 2rem;
    width:22%;
    .displayRow();
    margin-top:5%;
    margin-left:70%;
    margin-bottom:2%;
    justify-content:space-between;
    align-items: right;

    @media @phone{
    //  border: 2px solid red; 
        width:50%;
        margin-left:50%;
        margin-top:2%;
    }
    a{
    text-decoration: none;
    font-size: 2rem;
    color:@mainGreen;

    @media @tablet{
          
        font-size: 1.5rem;
        
    }

    @media @phone{
        font-size: 1.2rem;
        
    }
    }
}