.header{

    //border: 2px solid red;
    width:100%;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;

    .links{
        //border: 2px solid green;
        .displayRow();
        width:50%;
        
       

        a{
 
            display:block;
            text-decoration: none;
            font-size: 4rem;
            color:green;
            letter-spacing: 0.5rem;
            font-family: 'Kaushan Script', cursive;
           
            }//end of a
    }


}

.links a:hover{
    color:black;
}